NEXT_PUBLIC_BRAND_NAME='Starter'
NEXT_PUBLIC_BRAND_LOGO='https://logosbynick.com/wp-content/uploads/2018/03/final-logo-example.png'
NEXT_PUBLIC_BRAND_LOGO_ICON='/logo-icon.png'
NEXT_PUBLIC_API_SERVICE=
NEXT_PUBLIC_API_VERSION=

# Domain configuration
NEXT_PUBLIC_DOMAIN_SUFFIX=furniture
NEXT_PUBLIC_ROOT_DOMAIN_NAME=