.ant-form-item .ant-form-item-label >label::after {
    position: relative !important;
}
.ant-form-item .ant-form-item-label >label::before {
    position: absolute;
    right: 0px;
    top: 5px;
}
.ant-layout-header {
    box-shadow: 0px 2px 25px 0px #eee;
    padding: 0 20px !important;
    line-height: 1 !important;
    display: flex;
    align-items: center;
}
.ant-menu-light.ant-menu-root.ant-menu-vertical {
    border-inline-end: 0;
}
.ant-notification .ant-notification-notice-wrapper .ant-notification-notice {
    padding: 16px !important;
}
.ant-notification-notice-wrapper .ant-notification-notice-with-icon .ant-notification-notice-description {
    margin-inline-start: 32px !important;
    margin-inline-end: 32px !important;
}
.ant-notification .ant-notification-notice-wrapper .ant-notification-notice-close {
    top: 22px !important;
    inset-inline-end: 20px !important;
}
.file-uploader .ant-upload.ant-upload-select {
	width: 100%;
	cursor: pointer;
}
.file-uploader .ant-upload.ant-upload-select .ant-upload {
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent !important;
    border: 2px dashed #C2C5D3 !important;
    border-radius: 5px;
}
.file-uploader .input-size .ant-upload {
	min-height: 30px !important;
	font-size: 0.8rem;
}
.ant-form-item .ant-form-item-label {
    padding-bottom: 0;
}
.ant-table-wrapper .ant-table-tbody>tr>td {
    padding: 12px 16px !important;
}
.ant-menu-light.ant-menu-root.ant-menu-inline {
    border-inline-end: 0px !important;
}
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
    padding: 8px 12px !important
}
.ant-modal-content .ant-modal-body {
    margin: 20px 0;
}
.ant-modal-header {
    margin-bottom: 0px !important;
    background-color: var(--bs-gray-200) !important;
    padding: 15px 20px !important;
    margin: -20px -24px;
}
.ant-table-wrapper .ant-table-thead>tr>th {
    padding: 12px !important;
}
.ant-card-head-title, 
.ant-modal .ant-modal-title {
    font-weight: 600;
    font-size: 18px;
    font-family: "Raleway", sans-serif !important;
}
@media (max-width: 768px) {
    .ant-menu {
        font-size: 14px;
    }
}
