.primary-color {
    color: var(--primary-color) !important;
}
.primary-border-color {
    border-color: var(--primary-border-color);
}
.primary-outline-color {
   outline-color: var(--primary-outline-color);
}
.primary-bg-color-1 {
    background-color: var(--primary-bg-color-1);
}
.primary-bg-color-2 {
    background-color: var(--primary-bg-color-2);
}
.primary-bg-color-3 {
    background-color: var(--primary-bg-color-3);
}
.primary-bg-color-4 {
    background-color: var(--primary-bg-color-4);
}
