/* ==================font family============= */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$placeholder-color: #bbb;

.ant-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $placeholder-color !important;
}
.ant-input::-moz-placeholder { /* Firefox 19+ */
  color: $placeholder-color !important;
}	
.ant-input:-ms-input-placeholder { /* IE 10+ */
  color: $placeholder-color !important;
}
.ant-input:-moz-placeholder { /* Firefox 18- */
  color: $placeholder-color !important;
}

/*============preset for default designning===========*/
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #cfd3d6;
	border-radius: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6, b, strong {
	font-family: 'Roboto', sans-serif !important;
	font-weight: 600;
}

body {
	-webkit-font-smoothing: antialiased;
	min-height: 100%;
	overflow-x: hidden;
	line-height: inherit;
	background: #fff;
	font-size: 14px;
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	margin: 0;
}
a {
	color: inherit !important;
}
img {
	max-width: 100%;
}
a,
button,
input[type="submit"] {
	text-decoration: none;
	transition: all 200ms ease-in-out 0s;
}

a:focus,
a:hover input[type="text"]:focus,
.btn:focus,
input[type="tel"],
input[type="email"]:focus,
input[type="password"]:focus,
button:focus,
input[type="submit"]:focus,
input[type="button"]:focus {
	text-decoration: none;
	outline: none;
	box-shadow: none;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: var(--text-light) !important;
	opacity: 1;
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: var(--text-light) !important;
	opacity: 1;
}

:-ms-input-placeholder {
	/* IE 10+ */
	color: var(--text-light) !important;
	opacity: 1;
}

/* side-nav */
.fix-sidebar {
  overflow: auto;
  height: 100vh;
  position: fixed !important;
  background-color: #fff !important;
  inset-inline-start: 0;
  top: 0;
  bottom: 0;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  border-inline-end: 1px solid rgba(5, 5, 5, 0.06);
}
.logo {
    display: flex;
    margin: 15px auto;
}
.logo, .logo-box {
	position: relative;
	height: 70px;
	width: calc(100% - 24px);
	overflow: hidden;
}
.logo-box img {
    object-fit: contain;
}

.menu-height {
	height: calc(100% - 100px);
	overflow-y: auto;
}
.header-left-panel {
	display: flex;
	align-items: center;
}
.header-menu-list {
    display: flex;
    gap: 20px;
}
header.ant-layout-header.fix-header {
    position: fixed;
    z-index: 6;
	height: 55px;
	right: 0;
}
/* main-wrapper */
.main-cont-wrap {
	padding: 80px 20px 20px;
	background-color: #f6f6f6;
}
.form-content h4 {
    margin-bottom: 20px;
    font-size: 0.8rem;
    text-transform: uppercase;
    display: inline-flex;
    padding: 5px 8px;
    border-radius: 4px;
}
.title-row {
	margin-bottom: 20px;
}
.title-row .page-title {
	font-size: 1.1rem;
	font-weight: 600;
}
.ant-table-wrapper .ant-table-thead >tr>th {
	background-color: var(--primary-bg-color) !important;
}
.modal-scrollbar-adjust {
  max-height: 400px;
  overflow-y: scroll;
  padding-right: 15px;
  scrollbar-width: thin;
}
.max-w-200 {
	max-width: 200px !important;
}
.theme-color .ant-form-item-control-input {
	margin-top: -12px;
}
.ant-table-wrapper .ant-table-tbody .ant-table-measure-row {
	display: none;
}

.page-menu-box {
    background: transparent !important;
    border-inline-end: 0 !important;
}
.page-menu-box .ant-menu-item {
    border-inline-start: 2px solid rgba(5, 5, 5, 0.06);
    border-radius: 0 !important;
    background: transparent !important;
    margin: 0 !important;
    padding-inline: 16px 0 !important;
    padding-block: 0px !important;
}
.page-menu-box .ant-menu-item.ant-menu-item-selected {
    border-color: var(--primary-color);
}
.height-auto {
	height: auto;
}
.height-0 {
	height: 0px;
}
.auth-container {
    background: aliceblue;
    height: 100%;
}
.anticon.anticon-menu:hover {
	color: var(--primary-color);
}
.btn-fixed-bottom-modal {
    position: absolute !important;
    bottom: 20px;
    left: 0;
}
.on-hover {
	opacity: 0;
	transition: 0.3s ease-in-out all;
}
.show:hover .on-hover {
	opacity: 1;
}
.logo-favicon-preview .ant-upload,
.logo-favicon-preview {
    width: 100% !important;
    height: 100px !important;
    border-radius: 8px;
	object-fit: contain;
}

.logo-favicon-preview {
	border: 1px dashed #d9d9d9;
	padding: 10px;
}
.logo-favicon-preview ~ .ant-image-mask {
    border-radius: 6px !important;
}
.hide-upload-border .ant-upload.ant-upload-select {
	border: none !important;
	height: auto !important;
	width: auto !important;
}
.\[position\:absolute\] {
	position: absolute !important;
}
.bottom-border-none > .ant-card-head {
	border-bottom: none !important;
}
.bottom-border-none > .ant-card-body {
	padding-top: 0px !important;
}
.active-border {
	border: 1px solid var(--primary-color) !important;
}
.media-list-container {
    display: flex;
	flex-wrap: wrap;
	max-height: 200px;
    overflow-x: scroll;
	gap: 10px;
	flex-direction: column;
	padding-bottom: 10px;
}
.media-list {
    width: calc(20% - 11px);
    height: 95px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
	transition: all 0.3s ease-in-out;
	border: 1px solid #d9d9d9;
	display: flex;
    flex-direction: column;
}

// .media-list:hover {
// 	@extend .active-border;
// }
.media-list:not(:nth-child(5n)) {
	margin-right: 12px;
}
.media-list img {
    border-radius: 8px;
    margin: 8px;
    height: 60px;
    margin-top: -4px;
}
.media-list-wrapper {
	width: 21%;
}
.media-list .upload-action {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.seo-card {
    display: flex;
    width: 100%;
    justify-content: space-between;
	align-items: flex-start;
}
label[for="media"] {
    width: 100%;
}

@media (max-width: 768px) {
	header.ant-layout-header.fix-header {
		width: 100%;
	}
	.settings-stepper {
		display: none;
	}
	.media-list:not(:nth-child(5n)) {
		margin-right: 0px;
	}
	.media-list {
		width: calc(50% - 7px)
	}
	.media-list:not(:nth-child(2n)) {
		margin-right: 10px;
	}
	.media-list-wrapper {
		width: 48%;
	}
	
}